
<h1>Search</h1>

<form>

<!-- {{input type="text" value=foodItem}}
{{input type="submit" action="search"}} -->
<input type="text" {{value "item"}}/>
<input type="submit" {{action "search"}}/>

</form>

{{outlet}}
