<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<h1>Search</h1>
<form>
What do you want to eat? (i.e. fish, candy, oatmeal)&nbsp;
{{input type="text" value=foodItem}}
<br><br>
Diet Preferences?<br>
<input type="radio" name="diet" value="lowcarb" onclick={{action "selectPreference" "lowcarb"}}>Low Carb<br>
<input type="radio" name="diet" value="highprotein" onclick={{action "selectPreference" "highprotein"}}>High Protein<br>
<input type="radio" name="diet" value="lowsugar" onclick={{action "selectPreference" "lowsugar"}}>Low Sugar<br>
<br>
<input type="submit" {{action "search"}}/>
<br>
</form>

{{#each response.hits as |item|}}

<br><br>
<div>
  <b>{{item.fields.brand_name}}</b> - {{item.fields.item_name}}<br>
  <!-- Calories: {{item.fields.nf_calories}} <br>
  Calories from Fat: {{item.fields.nf_calories_from_fat}} <br> -->
  <br>
</div>
{{else}}
  <p>Showing 0 results...</p>
{{/each}}

{{outlet}}
